
<div class="file-list" style="padding-left: 0px">
	<div class="pos-rel post-slide-images-container">
	{{#each item.files as |file|}}
	 	{{post-item-file-preview item=file isEditing=item.isEditing removeFile="removeFile" class="inline-block pos-rel" }}
	 {{/each}}</div>
</div>
