<section class="content-header">
    <h1>
        Quiz
        <small>quiz</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Quiz</li>
    </ol>
</section>

    <!-- Main content -->
<section class="content">


    <div class="row">
      			{{outlet}}
    </div><!-- /.row -->
</section><!-- /.content -->
